<h1>Heroes <small>Marvel and DC</small></h1>
<div class="card-columns">
  <div class="card" *ngFor="let heroeCard of heroes">
    <img src={{heroeCard.img}} class="card-img-top" alt='asdlñkfjasdlfjasdñlkfjas'>
    <div class="card-body">
      <h5 class="card-title">{{heroeCard.nombre}}</h5>
      <p class="card-text">{{heroeCard.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroeCard.aparicion}}</small></p>
      <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
    </div>
  </div>
</div>
